[2020-01-27 20:13] dyennam opened #3 "Integrations with LDAP/OpenID"
Hello,
Is there possibility to have any integrations with LDAP with the tool.
That would be a killer feature for us.

[2020-01-28 16:33] angelbarrera92 commented on #3
Hi @dyennam!

I don't know if you are looking for a way to authenticate through LDAP or to manage authorization.
Currently this project only takes care about authorization (binding users to roles).

[2020-01-28 17:06] dyennam commented on #3
Hi @angelbarrera92
I was more looking for something along the lines of how Jenkins uses LDAP to add users. But then we manage their authorizations via jenkins itself.
We are trying to avoid adding users manually.

[2020-02-10 17:15] phisco opened #5 "Support OpenVPN certificates and CRL management"
To be discussed if in scope or not for the tool, but with @ralgozino we were thinking about using permission manager to generate OpenVPN certs and manage the CRL, given an intermediate certificate signed by the root CA.

[2020-02-13 15:10] ArjonBu opened #6 "How to get user token for the k8s dashboard?"
It looks like you can't authenticate on k8s dashboard using the k8s kubeconfig generated by permission manager. How do you get the token to also use the kubernetes dashboard?

[2020-02-13 16:06] angelbarrera92 commented on #6
Hi @ArjonBu.

This project creates `kubeconfig` for users using certificates. Unfortunately `kubernetes dashboard` does not support this kind of `kubeconfig`:

*source: https://github.com/kubernetes/dashboard#create-an-authentication-token-rbac*

[2020-02-13 16:06] #6 closed

[2020-02-24 14:40] angelbarrera92 commented on #3
Hi, sorry for the late response.

We are not sure about what Jenkins does. Can you provide some kind of flow description about how Jenkins does it?

[2020-02-26 11:24] protonwebmaster opened #7 "How to change password ?"
Hello, I am learning Kubernetes.

After deployment to

 I have a problem to login.

First I tried to login with user : **admin** and password : **password**, but this do not working.

Here is my configuration :
[code]
And how can I change this password ?

Thanks for any help.

[2020-02-26 11:30] angelbarrera92 commented on #7
Hi @protonwebmaster.

You should have created a Kubernetes Secret named `auth-password-secret` in the same namespace where you have deployed the permission-manager. If you followed the installation guide: https://github.com/sighupio/permission-manager/blob/master/docs/installation.md you should have it in the `permission-manager` namespace.

The default password is: `1v2d1e2e67dS` (you can see it

[2020-02-26 11:39] protonwebmaster commented on #7
Thank you !
I just saw it in auth-secret.yml !

[2020-02-26 11:39] #7 closed

[2020-02-26 21:30] i5okie opened #8 "Created user cannot authenticate"
I've created users with operation/all-namespaces/read-write permissions.
When I merge into my existing /config:
k get pods
`error: You must be logged in to the server (Unauthorized)`

k version
`error: You must be logged in to the server (the server has asked for the client to provide credentials)`

When I point to generated kube config saved to a file, and  k version:
`Unable to connect to the se

[2020-02-27 07:09] angelbarrera92 commented on #8
Hi @i5okie, What kind of cluster are you using? How did you created the certificates?
Thanks!

[2020-02-27 18:22] i5okie commented on #8
a mix of kops and eks clusters

[2020-03-02 07:54] angelbarrera92 commented on #8
Hi @i5okie,

Can you try running:

`k version --insecure-skip-tls-verify=true` with the generated kube-config saved in a separate file?

Thanks

[2020-03-05 12:14] viorel-anghel opened #11 "will crash if trying to add an user which already exists"
when trying (by mistake) to add an user with a name which already exists as rolebinding, it will crash with no explanation. i have had previously created a ServiceAccount/Role/RoleBinding using standard  k8 yaml.

[2020-03-05 12:49] viorel-anghel opened #12 "small change in generated kubeconfig"
can you please make the context name to be username@clustername instead of clustername as is now? this would be useful for admins which are testing many users on the same cluster.

it seems to be a small change in internal/kubeconfig/create-kubeconfig.go, something like

--- a/internal/kubeconfig/create-kubeconfig.go
+++ b/internal/kubeconfig/create-kubeconfig.go
@@ -35,7 +35,7 @@ users:
     user

[2020-03-06 12:39] guleng opened #14 "Doubts about function"
<h1>First of all, thanks to the producers. This tool is what we need most now</h1>

![image](https://user-images.githubusercontent.com/40238640/76084242-6635a880-5fea-11ea-9cc7-48426e2e33a4.png)

I don't know what this function is, I don't understand

##

![image](https://user-images.githubusercontent.com/40238640/76084583-258a5f00-5feb-11ea-8ce6-88f8e3240b2b.png)
This copy button doesn't work in

[2020-03-06 20:12] #12 closed

[2020-03-06 21:19] ralgozino commented on #14
Hi @guleng ! Thanks for reaching out!

For your first question, what that combobox does is enabling (or not) access to resources that are cluster scoped and do not belong to a namespace, for example, listing all the namespaces of the cluster.

You can see the actual permissions here:
- Read-Only: https://github.com/sighupio/permission-manager/blob/master/k8s/k8s-seeds/seed.yml#L67
- Admin: https:/

[2020-03-07 11:49] guleng commented on #14
@ralgozino    My browser is chrome (80.0.3987.122) and macOS Catalina, but there are such errors.
![image](https://user-images.githubusercontent.com/40238640/76142829-3e0e7e00-60ac-11ea-8251-a1f8f722b080.png)

My image is: quay.io/sighup/permission-manager:1.5.0

[2020-03-09 23:20] i5okie commented on #8
[code]

[2020-03-10 16:53] #3 closed

[2020-03-13 00:21] guleng commented on #14
@ralgozino ？

[2020-03-13 12:54] ralgozino commented on #14
hi @guleng , I'm sorry I can't reproduce none of the issues that you are having.

I've even tried to delete the app and re-deployed it and the users are still there. They're saved as a Kubernetes resources so it very weird that they get deleted by deleting the pod.

Are you using some kind of browser extension that could be interfiering with the app?
Could please try a fresh install following the

[2020-03-13 13:06] ralgozino commented on #11
Hi @viorel-anghel ! Thanks for reaching out.

I'm not able to reproduce the issue. This are the steps I followed:

1. Created a rolebinding with name `myuser` in the namespace permission-manager (the namespace where is deployed the app) with this command:

[code]

2. Went to permission-manager UI and created a `myuser` user and it got created without crashing.

Could you please give as a step by s

[2020-03-17 21:04] i5okie commented on #8
I've re-tried on the kops cluster. and now im seeing
`Unable to connect to the server: x509: certificate signed by unknown authority` instead.

[2020-04-02 18:12] i5okie commented on #8
@angelbarrera92 could it be because of me using an ELB with a https cert from aws certificate management?

[2020-04-02 18:16] angelbarrera92 commented on #8
Is the TLS certificate signed by an authoritative CA? (Trusted)

If the enpoint is public, can you send us the link? We can validate the TLS certificate

[2020-04-02 18:21] i5okie commented on #8
it is public but i don't want to share it :)

One more thing I've tried. I looked at kops created config and it adds username/password along with cert. Also kops does not include CA data in the cluster section.
[code]

And if I remove username and password. I get the same thing:
```error: You must be logged in to the server (Unauthorized)```

[2020-04-02 18:36] angelbarrera92 commented on #8
Lets take a deeper look @iknite

[2020-04-02 18:41] iknite commented on #8
On my way

[2020-04-02 21:31] i5okie commented on #8
Just tried on to run kubectl commands on windows. just for sanity's sake.
same result. So to sum it up:

kubernetes api is exposed on a public domain via ELB with a signed/valid tls cert.
https://api.mycluster.domain.com

With `certificate-authority-data` being set in kube config I get:
```Unable to connect to the server: x509: certificate signed by unknown authority```

Without `certificate-autho

[2020-04-09 15:33] colegatron commented on #8
Same issue here:
`k version --insecure-skip-tls-verify=true --kubeconfig config-k8s-new
Client Version: version.Info{Major:"1", Minor:"18", GitVersion:"v1.18.0", GitCommit:"9e991415386e4cf155a24b1da15becaa390438d8", GitTreeState:"clean", BuildDate:"2020-03-25T14:58:59Z", GoVersion:"go1.13.8", Compiler:"gc", Platform:"linux/amd64"}
error: You must be logged in to the server (the server has asked fo

[2020-04-13 15:33] iknite commented on #8
Hi folks,

I've been digging around this and I can confirm is related to the way EKS does the authorization through IAM roles. We're further investigating the issue and the possible solutions.

If you want to know more about the authorization model, please check https://kreuzwerker.de/post/managed-kubernetes-eks-cluster-authentication-and-autoscaling

[2020-04-13 15:50] iknite commented on #14
Hi @guleng,

I've been testing some possible scenarios about the users lost that you mentioned before. Deleting just the pod did not delete the user created. (but if you delete the `k8s/seed` folder will do.
[](url)
[code]
Also I was unable to reproduce the copy bug. I'm not sure how to help further.
![imagen](https://user-images.githubusercontent.com/745710/79135013-fc5dab00-7dae-11ea-916a-e31dfd

[2020-04-13 15:50] #14 closed

[2020-04-14 07:07] angelbarrera92 commented on #11
After a month without any response, I proceed to close the issue. Don't doubt to re-open it if you face the error again.

Thanks!

[2020-04-14 07:07] #11 closed

[2020-04-16 17:58] i5okie commented on #8
What about the kops cluster?

[2020-04-16 18:34] iknite commented on #8
@i5okie we make some quick test and it worked with this bare minimum kops setup.
[code]

[2020-04-16 18:49] i5okie commented on #8
@iknite  does this make a difference:
[code]

[2020-04-17 07:23] iknite commented on #8
Permission manager relies on X509  in this version (1.5.0) so disabling it will not work AFAIK.

https://kubernetes.io/docs/reference/command-line-tools-reference/kubelet-authentication-authorization/#kubelet-authentication

[2020-04-23 17:22] 15below-adamhancock opened #17 "user not permitted to approve r equests with signerName "kubernetes.io/legacy-unknown""
Hi,

We're ran into an issue on a cluster running kubernetes 1.18.1. When we try and create a user in permission manager the client-certificate-data field is empty.

Looking into the container logs when a user is created, we see the following error:
[code]
This looks to be down to breaking changes in kubernetes 1.18.

I was able to resolve it by editing the seed.yml and updated the cluster role fo

[2020-04-29 07:46] sureshamk opened #18 "How do with EKS ?"
I tried with AKS, it works well. When I try with EKS, this approach failed due to IAM based authentication. Any workaround?

[2020-04-29 07:49] phisco commented on #18
Authentication with EKS is a bit tricky, we are currently working on it.
@iknite feel free to add any detail.

[2020-04-29 08:18] iknite commented on #18
Yes, We're currently working on providing ServiceAccounts because X509 keys didn't work. there is some history in #8. I will update both issues as soon as we have a PR

[2020-04-29 16:14] flbla opened #19 "Feature: admin user and normal user"
Hello,
Thanks for this great project!

Would it be possible to have an OAuth login page?
And different users:
- if it's an admin user have the possibility to create/delete accounts.
- Otherwise only have the possibility to download its own kubeconfig file?

[2020-04-30 07:29] angelbarrera92 commented on #18
![](https://github.trello.services/images/mini-trello-icon.png) [Change permission-manager from X509 to serviceAccount (to be used in EKS clusters)](https://trello.com/c/xkbQNEKJ/174-change-permission-manager-from-x509-to-serviceaccount-to-be-used-in-eks-clusters)

[2020-04-30 07:29] angelbarrera92 commented on #8
![](https://github.trello.services/images/mini-trello-icon.png) [Change permission-manager from X509 to serviceAccount (to be used in EKS clusters)](https://trello.com/c/xkbQNEKJ/174-change-permission-manager-from-x509-to-serviceaccount-to-be-used-in-eks-clusters)

[2020-04-30 15:37] i5okie commented on #8
I'm still confused. So I'm still having this issue with a KOPS cluster.
As far as I can tell, I have not disabled X509
this is from cluster.yaml for kops:
[code]

Regardless, if this change comes along to using serviceAccounts. It will be really helpful!

[2020-05-11 06:49] saraAlizadeh commented on #17
hi, I had the exact issue with 1.18. though it was working fine with 1.16.
your solution worked for me. thanks for that.

[2020-05-12 14:41] cherkavi opened #20 "Please enter Username:"
User "student1" created without errors.

ClusterRole-----<>ClusterRoleBinding
both are exist
[code]

Any commands are return next error message:
[code]
output
[code]

[2020-05-13 08:32] Q-Nimbus opened #21 "Unable to view kubeconfig file"
Hi
Using k8s 1.8

Am able to create a user and save unless you choose all namespaces then get pacman
Once user is created chose to show kubeconfig file and just get loading screen

[2020-05-13 08:37] cherkavi commented on #21
try to wait, it can take more than 1 min

[2020-05-13 08:57] Q-Nimbus commented on #21
Thanks for the very fast response, sadly been waiting for 30 mins and nothing

using chrome browser, will try some more browsers

[2020-05-13 09:46] Q-Nimbus commented on #21
Further information from the logs in the pod, after this the port forward tends to drop out
`2020-05-13T09:39:55.83266582Z detected runnig inside cluster
2020-05-13T09:39:55.836219625Z method=POST, uri=/api/create-kubeconfig, status=200
2020-05-13T09:43:39.435319687Z method=GET, uri=/, status=200
2020-05-13T09:43:39.809863757Z method=GET, uri=/api/list-users, status=200
2020-05-13T09:43:39.9257510

[2020-05-13 12:02] iknite commented on #21
According to https://kubernetes.io/docs/setup/release/notes/#kube-apiserver regarding to changes around CSR, consumers of the ‘certificatesigningrequests/approval’ API must now have permission to ‘approve’ CSRs for the specific signer requested by the CSR.

One of the affected modules is api-machinery which we use.

It leads me to think that 1.18 is not supported (yet).

Currently the underlying l

[2020-05-13 12:29] iknite commented on #20
Hi @cherkavi can you share some environment information? (kubernetes version, pod logs...)

[2020-05-13 12:30] iknite commented on #19
Hi @flbla Thanks for the feeback. we will keep you posted around that eventually.

[2020-05-13 14:48] edubacco commented on #19
very intresting feature! =)

[2020-05-13 14:56] Q-Nimbus commented on #21
Thank you got the update, much appreciated

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Enrique Paredes <notifications@github.com>
Sent: Wednesday, May 13, 2020 2:03:02 PM
To: sighupio/permission-manager <permission-manager@noreply.github.com>
Cc: Scott Bentley <scott@free-flying.com>; Author <author@noreply.github.com>
Subject: Re: [sighupio/permission-m

[2020-05-14 09:51] hreidar opened #22 "Stuck on ...loding after changing CONTROL_PLANE_ADDRESS after initial deployment"
Hi, I managed to deploy your app and created several users. I then noticed that the server address in the kube config file pointed to the internal address of the api-server as I configured that in the beginning. I then changed the address to my external api-server loadbalancer address and now the app is stuck on ...loading when trying to list the available users. I try to change the address back t

[2020-05-14 17:27] omerfsen commented on #18
Watching this +1

[2020-05-15 12:24] edubacco commented on #18
+1 from here too =)

[2020-05-16 09:37] anarcher commented on #18
+1 me too :-)

[2020-05-16 15:15] atosatto opened #26 "Proposal: tag releases on the git repository"
Looking at https://quay.io/repository/sighup/permission-manager?tab=tags I've found that two tags of the permission-manager image exists at the moment: 1.5.0 and 1.6.0-dev.
However, looking at the git repository it is not clear to which git commit hashes these versions corresponds.

I must admit that I haven't looked too much in depth into the content of the images to see whether there is any meta

[2020-05-16 20:36] iknite commented on #26
We're un a huge refactor and its already on it. Thanks for the tip! It is good to know is something useful.

[2020-05-16 20:55] atosatto commented on #22
I suspect the fact that in #27 we use `controller-runtime` to connect to the K8s cluster might help with this.

[2020-05-18 18:54] cherkavi commented on #20
didn't read documentation properly

[2020-05-19 14:07] #17 closed

[2020-05-19 14:07] #21 closed

[2020-05-20 09:54] 15below-adamhancock opened #29 "Set namespace in generated kubeconfig"
The generated kubeconfig doesn't have a namespace set in the context.

If the user doesn't have access the default namespace then they get access denied unless they specify namespace.

Can we have an option to set the namespace in the generated kubeconfig?

[2020-05-22 09:41] #22 closed

[2020-05-22 09:41] #26 closed

[2020-05-22 11:16] #8 closed

[2020-05-22 11:16] #18 closed

[2020-05-23 07:52] phisco commented on #29
what would be a safe default in your opinion?
maybe one of the namespaces the user has been granted access to? what if the user is given a cluster role?

[2020-05-24 14:50] hreidar commented on #22
This is working for me in version v1.6.0, thanks.

[2020-05-25 06:28] viorel-anghel opened #36 "how to upgrade from 1.5 to 1.6?"
thanks for the new release! how do we upgrade from 1.5.0 to 1.6.0?

[2020-05-25 08:33] iknite commented on #36
Hi @viorel-anghel,

The main difference between v1.5.0 and  v1.6.0 is that the users have been replaced with service-accounts to be usable in EKS and other user-managed authentication middlewares.

That said, there is no need to migrate, users created in v1.5.X will continue to be usable in v1.6.0 (usable in terms of that the users access the cluster). Even it can coexist users created with v1.5.X

[2020-05-26 08:47] viorel-anghel commented on #36
so with this new version i will be able to _manage_ users created with version 1.5 (for example to add a new namespace to an exisiting user)?

[2020-05-26 09:30] iknite commented on #36
No, v1.5.0 should be maintained with the  same container's version.

[2020-05-27 06:07] viorel-anghel commented on #36
so basically permission manager 1.6 has nothing to do with permission manager 1.5?

have you considered a way to manage both "old" users and the "new" service accounts within a unified permission manager version?

[2020-05-27 06:36] iknite commented on #36
It's on the roadmap, without a given deadline nor a milestone. There are other refactors on the table right now.

Thanks for the feedback! Feel free to reopen if the Original Post is unclear.

[2020-05-27 06:36] #36 closed

[2020-05-27 09:38] hreidar commented on #20
Hi, @cherkavi, can you please inform us what you saw in the docs? I'm experiencing the same thing. I'm asked for user and pass which I don't remember I choose in the user creation process.

[2020-05-27 10:28] iknite commented on #20
You can retrieve it with `kubectl  get secret permission-manager -n permission-manager -o yaml` look for "BASIC_AUTH_PASSWORD":"---your-password---"

[2020-05-27 10:37] hreidar commented on #20
Hi, do you mean that my users do have to use the admin user and pass to be able to communicate with the server?

[2020-05-27 10:39] hreidar commented on #20
I did try that with out any luck.

[code]

[2020-05-27 10:41] iknite commented on #20
Sorry, I was assuming it was an issue entering in the permission-manager UI.

Could you get us more information? (platform, installation process, etc..)?

[2020-05-27 10:47] hreidar commented on #20
Hi, no no, that is working. I did create one user (myself), got the kube/config data and put it in my kube/config. Using that context I get promoted with user and pass.

I'm testing this on a local cluster made with kubeadm, it is k8s v1.18.2. It is running on Ubuntu 18.04 nodes. What information do you need?

[2020-05-27 12:57] iknite commented on #20
I've just created a cluster in 1.18.2 and it's working:
[code]

[2020-05-27 13:46] hreidar commented on #20
Ok, so I'm doing something wrong I guess. Do you get promoted for user and pass as you commit your commands? Is that normal?

[2020-05-27 15:37] iknite commented on #20
No, that's something I cannot reproduce, sorry.

[2020-05-27 15:38] iknite commented on #20
@cherkavi Could you helps us indentify what's going on? 🙏

[2020-05-28 08:34] hreidar commented on #20
@iknite , @cherkavi, I'm available if you need me to test somethings

[2020-06-09 12:20] sramek5 opened #37 "Helm chart for permission-manager does not work"
When I make helm chart, I always get error:
[code]

I solved this manually:
1) Made a namespace,
2) Applied filled secret,
3) Applied my Helm Chart.

Unfortunately, this worked only one time. I am not able to install it again.

This is anusual behavior for helm, can you fix it please? Secret should be part of the Helm Chart.

[2020-06-13 12:49] hreidar commented on #20
Hi, any new on this?

[2020-06-14 08:23] iknite commented on #20
We're storing every information here, so no, we have no further information

[2020-06-21 13:55] phisco commented on #37
Sorry @sramek5, the project does not provide an helm chart installation, so I guess you mean that the chart you wrote is not working properly, right?

[2020-06-22 07:43] sramek5 commented on #37
Hi @phisco, yes it is my own helm chart.
Later I was able to find a problem. In our infrastructure we are using coded and sealed passwords. Permission manager cannot be used with base64 coding.

Echo would read base64 coded port/password/whatever (seen in logs), but it has "unknown" problem with it.

So now it works with stringData password (not coded).

Still, thank you for your app, it looks it

[2020-06-22 10:40] phisco commented on #37
Perfect, good to know! Feel free to close the issue if that’s the case!

CC @iknite for the roadmap questions

[2020-06-22 11:01] iknite commented on #37
We will add the feature requested in the backlog, we're in the middle on another huge refactor, so maybe after that could make it.

Thanks for your interest and feedback for this tool, we're proud of this little piece.

(I'm closing the issue since but feel free to reopen it if you feel it to)

[2020-06-22 11:01] #37 closed

[2020-06-22 11:08] sramek5 commented on #37
Thank you @iknite for answer.

That would be grate.

[2020-06-24 10:53] elfrinjo opened #38 "Feature: flexible templates for custerroles"
Currently (if I am not entirely wrong) permission-manager supports namespaced role-templates. For clusterwide resource-access, there are only three roles (none, read-only, read-write) for all resources available.

I would very much appreciate to be able to define custom roles for cluster-resource-access and to assign them in the web-ui.

[2020-07-07 11:01] #29 closed

[2020-07-10 15:05] Endriuz1805 opened #40 "Restricted when trying to log in"
Hi,

After performing the steps described on the installation page, i get Restricted access when trying to log in.
Tried to change the password several times, but without luck.

Any thoughts would be greatly appreciated.

Thanks

[2020-08-24 20:55] stjudecloud-cloudy opened #41 "Feature: allow flexible subjects for clusterrolebindings/rolebindings"
In Azure AKS users can have access granted by either by their AD group membership, or directly using AD user ID. It would be extremely useful, if  user access management could be done using permission-manager.

In order to achieve it, it would be necessary to allow different kind of subjects for both clusterrolebinding and rolebinding.
This is an example of clusterrolebinding used for assigning RB

[2020-09-04 21:14] idanya opened #42 "Allow email as username"
I'm using Google OpenID for cluster authentication and the email claim as the username.
So the subject name in my role bindings is the user email address and the UI blocks me from inputting @ in the user name input field.

[2020-10-20 23:36] coolamiy commented on #19
Interesting ... i will try to see if can get that implemented...

[2020-10-21 04:11] fahadh4ilyas opened #43 "Lens not showing metrics to user who can only access some namespaces"
Is there a way that even though the user is only granted full access to some namespaces, the user still can see the metrics from Lens app? Because the user can't see the namespaces resources this way.

[2020-10-26 11:33] angelbarrera92 commented on #42
Makes sense to me @idanya

PD: Sorry for the late reply.

Adding it to our internal Trello board to prioritize it. Link: https://trello.com/c/VIoROOgL

[2020-10-26 11:34] angelbarrera92 commented on #43
Hi @fahadh4ilyas.

With permission manager, you can assign full access to certain namespaces without giving them permissions to interact at cluster level.

What is Lens? Thanks!

[2020-10-26 11:39] Slach commented on #43
@angelbarrera92 https://k8slens.dev/

[2020-10-26 11:44] angelbarrera92 commented on #41
Uhmm we have to analyze it. Currently, when a `permissionmanageruser` is created, then a `serviceaccount` is created too. So all bindings stick to the `serviceaccount` subject.

Changes to 🔝 behaviour is a major change that we have to evaluate, but we understand the situation.

[2020-10-26 11:53] angelbarrera92 commented on #38
Ye, it makes sense. Adding it to our internal backlog.

PD: Sorry for the late reply.

https://trello.com/c/aDwRrQBA

[2020-10-26 11:58] angelbarrera92 commented on #40
Hi @Endriuz1805.

1st of all, sorry for the late reply.
Did you solve the issue? Otherwise try to login usin the `admin` user and the password output from:

[code]

Thanks!

[2020-10-26 11:58] #40 closed

[2020-10-26 12:06] angelbarrera92 commented on #19
Added to our internal Trello board.

Sorry for the late reply:

https://trello.com/c/bvConUaM

[2020-10-26 12:09] angelbarrera92 commented on #20
The original issue was open by @cherkavi, if the issue persists, please open a new one

[2020-10-26 12:09] #20 closed

[2020-10-26 12:18] angelbarrera92 commented on #43
Ok, but what is the issue?

To test it I've installed lens in my pc (latest version running on macOS)

Then, I've created a user with permissions to access only to `local-path-provisioner` namespace
![Captura de pantalla 2020-10-26 a las 13 17 04](https://user-images.githubusercontent.com/14357604/97171314-8c80a200-178d-11eb-9422-576a42b7e356.png)

With the generated kubeconfig, I've configured le

[2020-11-26 06:02] fahadh4ilyas commented on #43
@angelbarrera92 The issue is, Lens usually showing metrics like `CPU` and `Memory` from nodes dan pods. But, using permission manager, it's not showing up. Here is example of metrics

![image](https://user-images.githubusercontent.com/37577369/100313619-97765e80-2fe7-11eb-84c5-c128f9397aaa.png)

[2020-11-26 08:24] angelbarrera92 commented on #43
Then what is missing is the right role. I discovered that lens is using Prometheus under the hood to gather the metrics. **I'll take a deeper look.**

Meanwhile, if you know already know the specific Role/ClusterRole needed to make it working, ping me :)

[2020-11-26 11:50] angelbarrera92 commented on #43
I was able to make it work by applying a "wide" ClusterRole I found here: https://github.com/lensapp/lens/pull/644/files

I'll open a PR to modify the ReadOnly access to cluster resources (non-namespaced).
As far as I could test, you can not see only namespaced metrics... That sucks!

[2021-01-13 12:40] Rampage1xx opened #52 "E2E tests use a static version of permission manager"
Hello,

E2E tests right now use a static version of permission manager, loaded from the deployment files. This causes several issues:
a) requires a version change to make tests effective
b) it forces you to alter deployment file temporarily
c) it renders very hard to do e2e local testing/impossible

Proposed solution: Tests should deploy a locally built temporary image of permission manager.
This

[2021-01-13 15:24] #52 closed

[2021-01-20 20:35] nohant opened #54 "Edit readme to notify user of a possible unsecure ssh to k8s node"
The ClusterRole `template-namespaced-resources___operation` can login onto any node as root directly using k8s api's.
i know is something it can do due to the use of the API, but i would suggest to notify user of the chance inside the **readme**.

[2021-01-26 14:26] tplueer opened #55 "Namespaces starting with kube are excluded in namespace overview"
First of all thanks for creating this tool it really helps a lot!

I'm wondering why will "kube" Namespaces be excluded from the overview, i guess for security reasons ?

https://github.com/sighupio/permission-manager/blob/3a9cf1847816d4c4d9dab7598b8d4d7e1c0f177e/web-client/src/components/NamespaceMultiSelect.tsx#L23-L27

Can we provide an option to show namespaces starting with "kube" so rolebind

[2021-02-03 14:08] Rampage1xx commented on #55
Hello @tplueer,
Thanks for the feedback, we are looking into this!

[2021-02-04 12:38] #55 closed

[2021-02-23 08:22] Hayyk opened #59 "Bug when deleting users with same prefix"
I have created 2 users: test and test2
if I delete test2 user everything is ok and test user is still available
if I delete test user, test2 user is gone from cluster but still it's showing in permission manager and if I click on username in permission manager application hangs. I've created rolebinding manually in order to bring back user and make application work again.

Same behavior was for 2+

[2021-02-23 14:48] Rampage1xx commented on #59
Hello,
Thanks for the report!
We found the issue and are proceeding to fix it

[2021-02-23 15:42] #59 closed

[2021-02-23 15:55] Hayyk opened #61 "bug when creating users with same prefix"
Using v1.16.0
There is a bug when creating users with same prefix. Steps to reproduce:
1. create user with name test in namespace1 with operator role
2. create user with name test2 in namespace2 or namespace1 with operator/developer role
3. edit user test and you will see namespace2 with appropriate role has been added to test user. if you try to delete that role, and then open test2 user applicat

[2021-02-23 16:20] phisco commented on #61
Should have been fixed by #60, @angelbarrera92 is working on releasing a release-candidate you will be able to test.

[2021-02-23 16:21] Hayyk commented on #61
@phisco thx, will wait to test and give feedback

[2021-02-23 17:22] angelbarrera92 commented on #61
Ciao @Hayyk i've released a release candidate of permission manager that should fix the issue:
Test it out by following: https://github.com/sighupio/permission-manager/blob/master/docs/installation.md

Thanks!

[2021-02-23 17:33] Hayyk commented on #61
Hi @angelbarrera92
Just run 1.7.0-rc1 in my cluster and I can confirm that issue during creation and deletion of users with same prefix solved. but there is another bug. Whatever role I'm setting for my users it shows developer role, but I'm checking the rolebinding inside the cluster and it bind the right clusterrole (e.g. template-namespaced-resources___operation).

P.S. should I create new issu

[2021-02-24 08:28] angelbarrera92 commented on #61
Ciao @Hayyk, sorry for reading that, yes please, in order to keep the issue board as clean as possible, create a new one. Thanks!

[2021-02-24 08:28] #61 closed

[2021-02-24 08:47] Hayyk opened #62 "Showing developer role in UI even if other role is set for user"
Using 1.7.0-rc1:
Whatever role I'm setting for my users it shows developer role in UI, but I'm checking the rolebinding inside the cluster and it binds the right clusterrole (e.g. template-namespaced-resources___operation). this behavior exists for custom templates as well as for templates added from seeds.yaml

[2021-02-24 08:48] Hayyk commented on #61
Hi @angelbarrera92
done

[2021-02-24 16:09] angelbarrera92 commented on #62
A new release candidate has been released solving this issue. Please give it a try: https://github.com/sighupio/permission-manager/releases/tag/v1.7.0-rc2

[2021-02-25 06:21] Hayyk commented on #62
Hi @angelbarrera92 ,
Fixed, thank you

[2021-02-25 07:18] angelbarrera92 commented on #62
kudos to @Rampage1xx !!! He actually fixes the problem.

[2021-02-25 07:18] #62 closed

[2021-03-12 14:00] rgkuijf opened #64 "clusterrole name in rolebindings also prepended with username"
Hi,

First of all very pleased with permission-manager.
Just started using/discovering the tool and ran into an issue.
I'm:
- using master (1.7.0-rc2).
- creating a user having read-only access to non-namespaced resources and developers access to all namespaces.

![image](https://user-images.githubusercontent.com/80528654/110948483-af2ce500-8341-11eb-8a2d-3318658c9c73.png)

After creation I go bac

[2021-03-24 12:37] Hayyk commented on #64
Hi. I can confirm the same issue in 1.7.0-rc2 version

[2021-03-29 08:55] #43 closed

[2021-05-04 15:34] tplueer commented on #64
Hi,

i have the same issue in the 1.7.0-rc2 release.

[code]

[2021-05-11 08:15] Rampage1xx commented on #64
Hello,

Thanks for the feedback.

We just merged a fix for this issue and a RC3 should be released soon

[2021-05-17 20:31] mcgarrah opened #66 "Helm Chart support"
I can see the chart in the source but it does not appear to be published anywhere.
I tried https://sighupio.github.io for your chart repo as a test with no dice.

Do you have plans to publish it out and document it?

[2021-05-20 15:50] vitosans opened #67 "Upgrade process"
Best practices to upgrade from one RC to another? Nothing in the documentation so far.

[2021-06-03 12:32] nandajavarma opened #68 "Document the supported Kubernetes versions"

[2021-08-06 12:23] Joseph94m opened #70 "Failed to get resources"
Hi, I just deployed permission-manager on k8s infra version 1.17.4
I followed the installation guide to define the cluster_name, control plane address, and the password.

The deployment succeeds and i am able to access the application via the UI. However, I see no users listed (even though we already use some) and i cannot create any new ones from the UI.

I checked the logs of the pod and I think

[2021-08-09 09:03] Joseph94m commented on #70
The issue is resolved. The kubeapi server was inaccessible from that node for some reason.

[2021-08-09 09:03] #70 closed

[2021-08-13 02:17] vitjok27 opened #71 "Errors with k8s 1.22"
Hello

Looks like permission-mamanher is not supporing newer Kubernetes versions. Tried to install it on 1.22 and was getting following errors:
kubectl apply -f https://github.com/sighupio/permission-manager/releases/download/v1.7.0-rc3/crd.yml
**error:** unable to recognize "https://github.com/sighupio/permission-manager/releases/download/v1.7.0-rc3/crd.yml": no matches for kind "CustomResourceDe

[2021-08-13 07:23] Horus-K opened #72 "是否可以支持ldap"
按组来划分权限？

[2021-08-13 08:16] ralgozino opened #73 "UX: The username suggestion is invalid"
When creating a new user in Permission Manager, the username field suggests as an example `Jane Doe`, but if you write that you get an error message saying that the username is not valid:
![Screenshot 2021-08-13 at 10 11 26](https://user-images.githubusercontent.com/6362698/129326266-6e48cabd-59d8-4a9c-92ba-50855023a925.png)
![Screenshot 2021-08-13 at 10 15 28](https://user-images.githubuserconten

[2021-08-13 08:16] nikever commented on #71
Hi vitjok27,
thanks for using permission-manager. Support for Kubernetes 1.22 it's on the roadmap but I can't give you an ETA yet.

For now, you can use the following `crd.yml` that is compatible with Kubernetes v1.22:

[code]

Then apply `seed.yml` and `deploy.yml` as before:

[code]

[2021-08-13 08:17] ralgozino commented on #73
also, "[...] dots and dashes and numbers" shuold be "[...] dots, dashes and numbers"

[2021-08-13 09:16] ralgozino opened #75 "UX: Missing favicon"
Permission Manager uses React FavIcon instead of a custom one. Would be nice to have a custom favicon to differentiate the tab.

[2021-08-13 09:16] ralgozino commented on #75
I'm getting a 401 error on the `manifests.json` file in my local environment, could be related.

[2021-08-13 09:26] nikever commented on #72
Hi Horuk-K,
We currently offer no support for LDAP.

As of now, Permission-manager is just a simple tool to manage Kubernetes RBAC.

再见,
Nico

[2021-08-13 09:26] #72 closed

[2021-08-13 10:54] vitjok27 commented on #71
Worked! Thanks @nikever !

[2021-08-13 12:18] nikever commented on #71
I'm glad! Closing the issue.

[2021-08-13 12:18] #71 closed

[2021-08-15 04:16] RhnSharma commented on #73
I would like to take this one.

[2021-09-02 07:40] Joseph94m commented on #66
I'm bumping this thread as I would also like to have follow up on this. I can see that a helm chart is present [within the code](https://github.com/sighupio/permission-manager/tree/master/helm_chart)

I cloned the project and tried installing the chart (I defined the control plane endpoint) but it keeps returning the following error: "Could not install release Error: create: failed to create: Requ

[2021-09-09 11:25] ralgozino opened #78 "The cluster resources option doesn't show its value"
Choosing a cluster resources permission in a user configuration different than None, doesn't reflect in the UI after a relod of the page, for example going back to the root and entering to see the user details again.
![image](https://user-images.githubusercontent.com/6362698/132677346-70f29596-36db-4c33-8c95-750ed8f04c25.png)
 The radio-button is always in None

Steps to reproduce:
1. create a new

[2021-09-09 11:32] ralgozino opened #79 "Upgrading from 1.5.1 to 1.6.0 loses permissions"
When you upgrade permission manager from 1.5.1 to 1.6.0, the kubeconfig stops using certificates and starts using tokens, but if you download the new kubeconfig you get permission denied for all actions.

Going to the user and clicking the save button, re-applies the permissions.

We don't know the root cause yet, but this migration should be automated or at least documented in the release notes.

[2021-09-14 04:44] hokamc opened #80 "[Feature] Publish Helm Chart"
Would you mind adding an index.yml for the helm chart? so that we can use it directly in the helm. I can help if you like the idea.

[2021-09-14 10:41] angelbarrera92 opened #82 "Align E2E tests"
While working on #81,

I found that the tests executed during the pipeline (e2e) are different from the tests you can execute locally (e2e).
One is based on bats and tests only the API, on the other side, the local e2e opens a cypress window to tests e2e in a browser.

This is something we have to align

[2021-09-14 10:45] angelbarrera92 opened #83 "Get rid of statik"
While working on #81,

I saw we are using [`statik`](https://github.com/rakyll/statik) to embed files in the resulting binary (frontend). In the #81 we are updating the golang version to 1.16. This version includes a native golang feature to embed files.

Changing from statik to native golang way:
- Makes it easier to maintain the project
- Makes it easier to automate stuff
- Makes it easier to de

[2021-09-15 06:53] andrey-gava opened #84 "Broken access view in UI for custom template"
I was in need to create access rights for user to read resources in only one specific namespace.
So I created ClusterRole:
[code]
Despite granted access rights works, and user can read needed resources, the grunted rights not shown in UI poperly.
![изображение](https://user-images.githubusercontent.com/59727632/133384700-bddea807-a663-438f-a8ef-63d44dddc309.png)

![изображение](https://user-images

[2021-09-15 13:05] ralgozino commented on #73
The PR didn't fix the issue. The placeholder problem is still present.

[2021-09-15 15:01] angelbarrera92 commented on #73
I think the problem is not only about the tooltip or the placeholder:

1st issue: The place holder "Jane Doe" is an invalid username. Consider using a valid one like: `jane.doe`.
2nd issue: The validation is incorrect. Backend and frontend are not checking the same regex pattern. In addition, the tooltip is incorrect right now.

Frontend:
[code]

Backend:

[code]

We must align these patterns

[2021-09-17 05:55] hellobiek commented on #42
really need it

[2021-09-17 06:19] hellobiek commented on #42
@angelbarrera92 how you finally solve this problem?

[2021-09-20 08:06] #78 closed

[2021-10-05 22:57] divanikus commented on #73
For some reason it doesn't accept names with dot in the middle, despite of tooltip saying `jane.doe` is allowed.

![image](https://user-images.githubusercontent.com/3438036/136113913-f604f87b-9b34-43b2-bf46-3b4994ae3545.png)

Running latest v1.7.1-rc1

[2021-10-06 08:46] #54 closed

[2021-10-06 09:21] andrey-gava opened #89 "Kubeconfig in UI missing certificate-authority-data value"
After update from v1.6.0 to 1.7.1-rc1 the value fro the key certificate-authority-data in kubeconfig are missing for new created user and old users too.

![изображение](https://user-images.githubusercontent.com/59727632/136175972-61bd205d-7066-4039-a436-ec8189a373de.png)

[2021-10-11 07:14] #89 closed, assigned to Al-Pragliola

[2021-10-19 14:33] alexandershelega opened #91 "how to add subject to rolebinding or clusterrole binding?"
Hello how can i make modification in generates bindings?
[code]

 i need to have possibility add group which will based on username
[code]

[2021-10-27 07:20] hillbun opened #92 "certificate-authority-data has no data in kubeconfig"
[code]

[2021-10-28 06:08] menkeyi opened #93 "x509: cannot validate certificate for 10.255.0.1 because it doesn't contain any IP SANs"
[root@master01 kubernetes]# kubectl describe  pod -n permission-manager
Warning  FailedCreatePodSandBox  20s               kubelet            Failed to create pod sandbox: rpc error: code = Unknown desc = [failed to set up sandbox container "e3bad963c494ae17bcb007fa366cd47ca6a03026fec11cedc7a2bb17311f334d" network for pod "permission-manager-7cd5f4f6b8-5rzx4": networkPlugin cni failed to set up po

[2021-11-16 05:40] Gyzes opened #94 "User settings window hangs"
k8s: v1.22.2
permission-manager: v1.7.1-rc1

Error process:
1. Create a user and give rights to namespace
2. Remove namespace
3. Open the user for editing
4. The endless process of "... loading" and the out of memory error

![image](https://user-images.githubusercontent.com/90443642/141926847-69ee46de-c7e0-4402-b4bc-5ed3b544e942.png)

Found error correction process:
1. Remove CustomResourceDefinit

[2021-12-21 03:26] RestfulLeo23 commented on #89
Any update on this?

[2022-01-21 07:15] g-traveller opened #95 "Is it possbile to deploy with base url"
Hi,

I would ask if the web can server under path, for example, http://xxxx/permission-manager?

Thanks
Nan,

[2022-01-31 11:01] belghithahmed opened #98 "associations role to ns"
Gents,
thanks for your great work, very interesting project
i ve a question regarding the association of role to namesapces,
according to my knowledge ClusterRole  grants permissions to clusterwide, but could any one help to understand how the associations of role to one or sets of namespaces technically works within this application via ClusterRole and ClusterRoleBinding

Thanks for your support

[2022-01-31 14:54] belghithahmed commented on #98
i got it, it s about to create a generic role with clusterRole then bind that to the namespace with RoleBinding.

[2022-01-31 14:54] #98 closed

[2022-02-06 20:37] devopstales commented on #66
@mcgarrah @Joseph94m I had the same problem so I added to my own helm repo: https://devopstales.github.io/helm-charts

[2022-02-16 17:03] sandeepcp commented on #41
This is just creating a service account. We would like to see more functionality like Role Role bindings
As per the document, service account is just for application and jobs

[2022-02-24 18:41] ralgozino commented on #95
Hi @g-traveller
Permission Manager doesn't support subpath in its current implementation.
We'll keep the issue open to track the feature request and see if we can support it in the future.
Thanks for reaching out!

[2022-02-25 13:06] ralgozino commented on #94
Hi @Gyzes !
Thanks for reporting this issue. I can replicate the bug. The frontend hangs, backend seems to be OK though.

[2022-03-14 12:32] paulrostorp commented on #89
I managed to get it to work using the docker image tagged `9f717d02c3509607daf23481f3868888c163d0e4` (see https://quay.io/repository/sighup/permission-manager?tab=tags&tag=latest)

[2022-03-27 18:30] amoravek commented on #94
The same here. It seems all versions starting from 1.5.0 are affected.

[2022-04-14 13:59] orlakwahr opened #105 "unable to list users."
hi.

after adding a user was getting
kubectl exec -i -t -n thenamespace core-api-redis-master-0 -c redis "--" sh -c "(bash)"
Error from server (Forbidden): pods "core-api-redis-master-0" is forbidden: User "system:serviceaccount:permission-manager:theuser" cannot create resource "pods/exec" in API group "" in the namespace "thenamespace"

did an edit clusterrole template-namespaced-resources___dev

[2022-04-21 14:20] YFrendo commented on #89
Same issue here. On a microk8s cluster (if it can help)

[2022-05-21 10:40] Senorsen opened #107 "Any new release plan, which include several important bug fixes? :)"
Hi, this is a very wonderful project, it helps us manage small clusters easily.

The current latest release (v1.7.1-rc1) includes several bugs, which have been fixed by #88, #90, etc.

We'd appreciate it if you can release a new version.

[2022-06-20 10:39] mgeri commented on #107
I agree with @Senorsen. This project helps a lot of small and dedicated cluster management.
It would be great to have a new release with the already fixed bugs.

[2022-07-27 16:56] robert83ft opened #111 "Permissions change when namespace is deleted"
I think permission manager should somehow store a desired configuration and try to get back to it as much as possible.
I found that if a namespace is deleted and that namespace was configured on a user it is than removed. Which is normal.
However I recreated the namespace and obviously (maybe it's impossible or there is a technical limitation) was not re-added.

So, all in all, if you set
User1 -

[2022-08-15 18:59] myevit opened #112 "Stuck on generating kubeconfig"
Stuck on generating kubeconfig
<img width="746" alt="image" src="https://user-images.githubusercontent.com/13375246/184698621-d1bdb9c9-e18a-444b-ad71-97359be97291.png">

[2022-08-23 08:43] Scofields commented on #112
me too!

[2022-09-01 20:20] ettoreciarcia commented on #112
I ran into the same problem

[2022-09-01 20:29] ettoreciarcia opened #113 "Incompatibility of ARM processors"
Hi, nice project!
I'm interested in using it on my home cluster running on a raspberry pi but the quay.io/sighup/permission-manager:v1.7.1-rc1 image is incompatible with ARM processors.

Are you planning to expand the architecture pool in the future? I am available to test it on ARM processors!

[2022-09-07 08:06] runzhliu commented on #107
https://hub.docker.com/repository/docker/runzhliu/permission-manager

[2022-09-13 02:08] ladung opened #115 "Unable to connect to the server: x509: certificate signed by unknown authority"
when I created user, i used kubeconfig which generated by webUI and I had problem:
[code]

[2022-09-13 02:21] ladung commented on #115
Why do not show `certificate-authority-data` ???
![image](https://user-images.githubusercontent.com/43999277/189793152-f9770814-610a-4e00-9278-461612088000.png)

[2022-10-03 10:03] loeken commented on #112
I noticed the same behaviour starting with kubernetes version 1.24. it still works in 1.23 for me, 1.25 also seems affected
@myevit @Scofields @ettoreciarcia what version of kubernetes did you try installing it in?

[2022-10-03 10:19] loeken commented on #112
when i create the user ( but not click on display kubeconfig ), it seems to create a permissionmanager user but no service accounts
❯ k get permissionmanagerusers
NAME                            AGE
permissionmanager.user.loeken   33s
❯ k get serviceaccounts --all-namespaces|grep loeken

after i click on view kubeconfig i get this error in the logs:
[code]
then the pod seems to crash and restart i

[2022-10-06 07:39] dyipon commented on #112
same here with 1.25

[2022-10-11 10:17] ralgozino commented on #80
duplicate of #66

[2022-10-11 10:17] #80 closed

[2022-10-22 06:48] loeken commented on #112
Project dead?

[2022-11-06 04:41] colegatron commented on #115
Using latest version:
kubectl apply -f https://github.com/sighupio/permission-manager/releases/download/v1.7.1-rc1/crd.yml
kubectl apply -f https://github.com/sighupio/permission-manager/releases/download/v1.7.1-rc1/seed.yml
kubectl apply -f https://github.com/sighupio/permission-manager/releases/download/v1.7.1-rc1/deploy.yml

Not working for me either. Certificate-authority-data is not dumped in

[2022-11-07 16:05] gajdosr commented on #112
Same here, figured out that from1.24 the ServiceAccountToken is not generating automatically.

Workaround:
--feature-gates=LegacyServiceAccountTokenNoAutoGeneration=false

Howto:
https://faun.pub/feature-gates-how-to-enable-kubernetes-alpha-features-fdb38dc3a9aa

[2022-11-08 16:04] ArjonBu opened #116 "Have users in config as code"
Right now the only way to create users is via the dashboard. Is it possible to have the user managed as code?

I see that the CR and the secret (with the ca, token etc..) is created by the dashboard. Is there a way for me to create the CR and have proper config as code?

Thanks in advance

[2022-11-10 10:38] svilenkov opened #117 "Feature Request: Ability to select different subject Kind(s)"
It would be great to have the ability to specify different subject Kind(s)
for example:

[code]

 This would allow easy mapping between Google Cloud user acocunts and ClusterRoleBinding

 Likely related to: #42